<h1 id="tableLabel">Tabela vrednosti</h1>

<p>Povlacenje svih elemenata iz baze</p>


<div class="mat-elevation-z8" >
  <table style="width: 100%;" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id senzora </th>
      <td mat-cell *matCellDef="let pollution"> {{pollution.sensorId}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Vrednost </th>
      <td mat-cell *matCellDef="let pollution"> {{ pollution.sensorData }} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Vreme </th>
      <td mat-cell *matCellDef="let pollution"> {{ pollution.collectTime }} </td>
    </ng-container>

    <ng-container matColumnDef="deletion">
      <th mat-header-cell *matHeaderCellDef> Brisanje </th>
      <td mat-cell *matCellDef="let pollution"> <button
        mat-button
        color="warn"
        (click)="deleteData(pollution, $event)"> Obrisi </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<p>&nbsp;</p>
<h3>Brisanje svih podataka za određeni senzor:</h3>

<mat-form-field appearance="fill">
  <mat-label>Sensor</mat-label>
  <mat-select (selectionChange)="selected($event)" name="sensor">
    <mat-option *ngFor="let s of sensors" [value]="s">
      {{s}}
    </mat-option>
 </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="deleteSensorData()">Obrisi</button>