<h1>WaterPollution soft</h1>
<p>Motivacija aplikacije je praćenje stanja zagađenosti reka, pogotovo grada Niša, jer se na to slabo obraća pažnja!</p>
<p>&nbsp;</p>
<h5>Prikaz po filterima i označavanje određenog podatka alarmantnim</h5>
<mat-form-field appearance="fill">
  <mat-label>Sensor</mat-label>
  <mat-select (selectionChange)="selected($event)" name="sensor">
    <mat-option *ngFor="let s of sensors" [value]="s">
      {{s}}
    </mat-option>
 </mat-select>
</mat-form-field>

<label>Od</label>
<mat-form-field>
  <input matInput [matDatepicker]="myDatePicker" [(ngModel)]="dateFrom">
  <mat-datepicker-toggle matSuffix [for]="myDatePicker" ></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field>

<label>Do</label>
<mat-form-field>
  <input matInput [matDatepicker]="myDatePicker2" [(ngModel)]="dateTo">
  <mat-datepicker-toggle matSuffix [for]="myDatePicker2" ></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker2></mat-datepicker>
</mat-form-field>


<button mat-raised-button color="primary" (click)="showData()">Prikazi</button>

<!--table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pollutions">
  <thead>
    <tr>
      <th>Sensor Id</th>
      <th>Vrednost </th>
      <th>Vremenski trenutak</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pollution of pollutions">
      <td>{{ pollution.sensorId }}</td>
      <td>{{ pollution.sensorData }}</td>
      <td>{{ pollution.collectTime }}</td>
    </tr>
  </tbody>
</table-->



<div class="mat-elevation-z8" >
  <table style="width: 100%;" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id senzora </th>
      <td mat-cell *matCellDef="let pollution"> {{pollution.sensorId}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Vrednost </th>
      <td mat-cell *matCellDef="let pollution"> {{ pollution.sensorData }} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Vreme </th>
      <td mat-cell *matCellDef="let pollution"> {{ pollution.collectTime }} </td>
    </ng-container>

    <ng-container matColumnDef="alr">
      <th mat-header-cell *matHeaderCellDef> Uzbunjivanje </th>
      <td mat-cell *matCellDef="let pollution"> <button
        mat-button
        color="warn"
        (click)="createAlertPollution(pollution, $event)"> Oznaci </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<p>&nbsp;</p>
<h5>Prikaz alarmantnih podataka i označavanje istih rešenim</h5>

<div class="mat-elevation-z8" >
  <table style="width: 100%;" mat-table [dataSource]="dataSource2">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id senzora </th>
      <td mat-cell *matCellDef="let alertpollution"> {{alertpollution.sensorId}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Vrednost </th>
      <td mat-cell *matCellDef="let alertpollution"> {{ alertpollution.sensorData }} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Vreme </th>
      <td mat-cell *matCellDef="let alertpollution"> {{ alertpollution.collectTime }} </td>
    </ng-container>

    <ng-container matColumnDef="about">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let alertpollution"> {{ alertpollution.about }} </td>
    </ng-container>

    <ng-container matColumnDef="alr">
      <th mat-header-cell *matHeaderCellDef> Reseno </th>
      <td mat-cell *matCellDef="let alertpollution"> <button
        mat-button
        color="warn"
        (click)="updateAlertPollution(alertpollution, $event)"> Oznaci </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

